body {
    background-color: rgb(41, 41, 41);
    color: white; 
    font-family: Helvetica, Arial, sans-serif;
}
body a {
    color: rgb(255, 182, 154);
    text-decoration: none;
}

.scimg {
    background-color: transparent; 
    height: 5rem;
    width: 5rem; 
    border-radius: 300rem;
    color: white;
}
.cardHeader {
    position: fixed;
    inset: 0;
    width: 20vw;
    margin: auto;
    padding: 2rem;
    text-align: center;

}
.card {
    background-color: rgb(30, 30, 30);
    border-radius: 2rem;
    position: fixed;
    inset: 0;
    width: 30vw;
    height: 30vw;
    text-align: center;
    margin: auto;
    padding: 2rem;
}
.button {
    border: none;
    background-color: transparent;
    height: 10vh;
    width: 10vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}